<!DOCTYPE html >
<html xmlns:form="http://thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://thymeleaf.org
https://thymeleaf.org ">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Send a date</title>
</head>
<body>
<div align="left">
    <h2>Отправка данных</h2>
    <form action="/send" method="post">
        <table cellpadding="5" border="0">

            <input type="text" name="data">
            <label>
                <input type="radio" name="radio_1" onclick="">
                Дата</label>
            </br>

            <input type="text" name="data_begin"> -
            <input type="text" name="data_end">
            <label>
                <input type="radio" name="radio_1" value="">
                Диапазон дат</label>
            <tr>
            <td colspan="2"> <input type="submit" value="Send">
            </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>